In [1]:
# Exercise 1: Create a list with 5 items (names of people) and output the 2nd item
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
print("2nd item:", people[1])

2nd item: Bob

In [2]:
# Exercise 2: Change the value of the first item to a new value
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
people[0] = "Alex"
print("Updated list:", people)

Updated list: ['Alex', 'Bob', 'Charlie', 'David', 'Eve']

In [3]:
# Exercise 3: Add a sixth item to the list
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
people.append("Frank")
print("After adding 6th item:", people)

After adding 6th item: ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

In [4]:
# Exercise 4: Add "Faith" as the 3rd item
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
people.insert(2, "Faith")
print("After inserting 'Faith' as 3rd item:", people)

After inserting 'Faith' as 3rd item: ['Alice', 'Bob', 'Faith', 'Charlie', 'David', 'Eve']

In [5]:
# Exercise 5: Remove the 4th item from the list
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
del people[3]
print("After removing 4th item:", people)

After removing 4th item: ['Alice', 'Bob', 'Charlie', 'Eve']

In [6]:
# Exercise 6: Use negative indexing to print the last item
people = ["Alice", "Bob", "Charlie", "David", "Eve"]
print("Last item:", people[-1])

Last item: Eve

In [7]:
# Exercise 7: Create a full list with 7 items and print 3rd, 4th, and 5th items
items = ["A", "B", "C", "D", "E", "F", "G"]
print("3rd to 5th items:", items[2:5])

3rd to 5th items: ['C', 'D', 'E']

In [8]:
# Exercise 8: List of countries and make a copy of it
countries = ["Kenya", "Uganda", "Tanzania", "Rwanda"]
countries_copy = countries.copy()
print("Original list:", countries)
print("Copied list:", countries_copy)

Original list: ['Kenya', 'Uganda', 'Tanzania', 'Rwanda']
Copied list: ['Kenya', 'Uganda', 'Tanzania', 'Rwanda']

In [9]:
# Exercise 9: Loop through the list of countries
countries = ["Kenya", "Uganda", "Tanzania", "Rwanda"]
print("Looping through countries:")
for country in countries:
    print("-", country)

Looping through countries:
- Kenya
- Uganda
- Tanzania
- Rwanda

In [10]:
# Exercise 10: List of animal names and sort them
animals = ["zebra", "lion", "elephant", "giraffe", "monkey"]
ascending = sorted(animals)
descending = sorted(animals, reverse=True)
print("Animals ascending:", ascending)
print("Animals descending:", descending)

Animals ascending: ['elephant', 'giraffe', 'lion', 'monkey', 'zebra']
Animals descending: ['zebra', 'monkey', 'lion', 'giraffe', 'elephant']

In [11]:
# Exercise 11: Output only animals with the letter 'a'
animals = ["zebra", "lion", "elephant", "giraffe", "monkey"]
a_animals = [animal for animal in animals if 'a' in animal]
print("Animals with 'a':", a_animals)

Animals with 'a': ['zebra', 'elephant', 'giraffe']

In [12]:
# Exercise 12: Join two lists of first and second names
first_names = ["John", "Jane", "James"]
second_names = ["Doe", "Smith", "Brown"]
joined_names = first_names + second_names
print("Joined names:", joined_names)

Joined names: ['John', 'Jane', 'James', 'Doe', 'Smith', 'Brown']